<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.politiaromana.petitie.mobile.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PetitionsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".FAQActivity" />
        <activity android:name=".LegislationActivity" />
    </application>

</manifest>